.add-block {
    display: grid;
    gap: 20px;
    color: #202020;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.new-q-choise {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.new-q-choise + label {
    padding: 10px;
    background-color: white;
    border: 2px dashed #7A45D6;
    text-align: center;
}

.new-q-choise + label:hover {
    color: #7A45D6;
}

.text-input + input {
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.q-label {
    position: absolute;
    font-size: 10px;
    padding: 10px;
    top: 5px;
    left: 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.4);
}

label .text-input {
    font-size: 15px;
    line-height: 15px;
}